@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 26% 14%;

    --primary: 0 0% 7%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 38% 95%;
    --secondary-foreground: 220 26% 14%;

    --muted: 204 45% 98%;
    --muted-foreground: 218 17% 35%;

    --border: 214 32% 85%;
    --ring: 207 73% 57% / 0.6;

    --radius: 0.325rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }
}
